<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Syncitgroup_Sgform::config" title="Syncitgroup Sgform Settings" translate="title" sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Syncitgroup_Sgform::manage" title="Sgform Entries" translate="title" sortOrder="40">
                    <resource id="Syncitgroup_Sgform::actions" title="Actions" translate="title" sortOrder="10">
                        <resource id="Syncitgroup_Sgform::delete" title="Delete" translate="title" sortOrder="10" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
