<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    
	<event name="sgform_submit_after">
        <observer name="observer_sgform_submit_after" instance="Syncitgroup\Sgform\Observer\SgformSubmitAfter" />
    </event>
</config>